[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

selenium = "*"


[packages]

"psycopg2" = "*"
django = "*"
"autopep8" = "*"
pylint = "*"
"pep8" = "*"
django-localflavor = "*"
