{% extends 'base.html' %}
{% load static %}

{% block title %}
cultivate
{% endblock %}

{% block content %}
<div class="index-title-background">
    <div class="container">
        <div class="container text-center">
            <img src="{% static 'gardens/images/sprout_icon.svg' %}" class="index-logo" alt="cultivate logo"/>
        </div>
        <h1 class="display-4 logo-text text-center mt-1">cultivate</h1>
        <div class="container text-center logo-slogan mt-2">
            <h5 style="color:green;">cultivate your community garden by tracking your members, plots, volunteers, and more!</h5>
        </div>
    </div>
    </div>
</div>
{% endblock %}